{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        {% if message is defined %}
            <h2 class="alerte">{{ message }}</h2>
        {% endif %}
        {% if vehicules is not empty %}
            {% for vehicule in vehicules %}
                <div class="col-8 border border-1">
                    <h3 class="text-center">{{ vehicule.name | default('') }}</h3>
                    <img class="embed-responsive-item rounded mx-auto d-block" src="{{ app.request.basePath }}{{ vehicule.photo }}" height="300px" alt="{{ vehicule.name }}">
                    <p class="">{{ vehicule.caracteres }} <br>{% if (vehicule.etat) %} disponible {% else %} indisponible {% endif %}</p>
                    <p class="text-lg-start">Nombre de véhicule disponible : </p>
                </div>
            {% endfor %}
        {% else %}
        <h1>Il n'y a plus de véhicule disponible</h1>
        {% endif %}
    </div>
{% endblock %}