{% extends 'base.html.twig'%}
{% block body %}
    <div class="row">
        <h1 style="margin-top: 10px">Liste des services pour les vendeurs</h1>
        <ul>
            <li><a class="link-primary" href="{{ path('vendeur_connexion') }}">Connexion vendeur</a></li>
            <li><a class="link-primary" href="{{ path('vendeur_logout') }}">Déconnexion vendeur</a></li>
            <li><a class="link-primary" href="{{ path('vendeur_vehicule_add') }}">Ajouter un véhicule</a></li>
            <li><a class="link-primary" href="{{ path('vendeur_vehicule_disponible') }}">Liste des véhicules disponibles</a></li>
            <li><a class="link-primary" href="{{ path('vendeur_vehicule_indisponible') }}">Liste des véhicules indisponibles</a></li>
            <li><a class="link-primary" href="{{ path('client_facture') }}">Factures du client</a></li>
            <li><a class="link-primary" href="{{ path('factures_vendeur_dernier_mois') }}">Facture des clients du mois dernier</a></li>
        </ul>
    </div>
{% endblock %}